/* mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
}
/* tablets */
@media (min-width: 481px) and (max-width: 768px) {
}
/* small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
}
/* desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
}
/* extra large screens, TV */
@media (min-width: 1201px) {
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  background-color: #eaeae2;
}
#main {
  padding: 30px;
  margin: 30px;
  background-color: #e5e4dd;
}
h1, h2, p {
  text-align: center;
}
h1 {
  color: #d13833;
}
a {
  color: #b94681;
}
/* img element should responsively resize relative to the width of its parent element, without exceeding its original size */
/* the img element should be centered within its parent element */

#image {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* technique used to define a flexible css box with a defined aspect ratio */
/* reference: https://css-tricks.com/aspect-ratio-boxes/ */

.album-bg {
  height: 0;
  padding-top: calc(455 / 565 * 100%);
  position: relative;
}
.album-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.album-rect {
  position: absolute;
}
.blue {
  background-color: #76a5ed;
}
.purple {
  background-color: #d13b94;
}
.red {
  background-color: #d13833;
}
.green {
  background-color: #62b855;
}
.orange {
  background-color: #d45f2a;
}
.black {
  background-color: #242424;
}
.white {
  background-color: #efefe7;
}
.yellow {
  background-color: #f0f030;
}
.lt-blue {
  background-color: #a0c8f9;
}
/* reference image size: 455h x 565w */
/* to achieve percentage values mulitply by the following constants */
/* height: Hpx / 4.55 = H% */
/* width: Wpx / 4.55 * 0.8053097345132743 = W% */
#album-rect-000 {
  top: 50.11%;
  height: 49.89%;
  width: 100%;
}
#album-rect-001 {
  height: 17.58%;
  width: 14.16%;
}
#album-rect-002 {
  left: 29.55%;
  height: 36.05%;
  width: 31.15%;
}
#album-rect-003 {
  left: 60.70%;
  height: 24.18%;
  width: 13.98%;
}
#album-rect-004 {
  left: 74.69%;
  height: 24.18%;
  width: 25.30%;
}
#album-rect-005 {
  top: 50.11%;
  height: 25.71%;
  width: 11.68%;
}
#album-rect-006 {
  top: 75.82%;
  height: 24.18%;
  width: 24.60%;
}
#album-rect-007 {
  top: 57.58%;
  left: 36.64%;
  height: 12.09%;
  width: 22.65%;
}
#album-rect-008 {
  top: 69.67%;
  left: 46.55%;
  height: 15.85%;
  width: 12.74%;
}
#album-rect-009{
  top: 57.58%;
  left: 59.29%;
  height: 27.91%;
  width: 12.92%;
}
#album-rect-010 {
  top: 57.58%;
  left: 76.11%;
  height: 42.42%;
  width: 23.89%;
}
#album-rect-011 {
  top: 18.24%;
  left: 23.36%;
  height: 7.47%;
  width: 6.19%;
}
#album-rect-012 {
  top: 22.42%;
  left: 29.55%;
  height: 13.63%;
  width: 3.01%;
}
#album-rect-013 {
  left: 48.50%;
  height: 15.16%;
  width: 6.19%;
}
#album-rect-014 {
  top: 15.16%;
  left: 43.36%;
  height: 5.71%;
  width: 5.13%;
}
#album-rect-015 {
  top: 20.88%;
  left: 48.50%;
  height: 15.16%;
  width: 12.21%;
}